<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eduardo</title>
</head>
<body>
    <!--header-->
    <header class="header">
        <h1 class="header-title">- Eduardo Antônio de Oliveira Bargueiras -</h1>
        <h1 class="header-subtitle">- 15 Anos -</h1>
    </header>
    <!--main-->
    <main>
        <h4 class="main-title">Sobre:</h4>
        <p class="main-content">- Estudante da instituição ETEC Vasco Antônio Venchiarutti e aluno do 1ºAno do Ensino Médio no curso de Desenvolvimento de Sistemas. Estou em busca de aprender e me especializar para um maior nível de profissionalismo em minhas futuras tarefas.</p>
    </main>
    <!--section-->
</body>
</html>
