<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eduardo</title>
    <link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <a href="index.html" class="back-button"><i class="fas fa-arrow-left"></i> Voltar</a>
    <!--header-->
    <header class="header">
        <h1 class="header-title">- Eduardo Antônio de Oliveira Bargueiras -</h1>
        <h1 class="header-subtitle">- 15 Anos -</h1>
    </header>
    <!--main-->
    <main>
        <h4 class="main-title">Sobre:</h4>
        <p class="main-content">- Estudante da instituição ETEC Vasco Antônio Venchiarutti e aluno do 1ºAno do Ensino Médio no curso de Desenvolvimento de Sistemas. Estou em busca de aprender e me especializar para um maior nível de profissionalismo em minhas futuras tarefas.</p>
    </main  >
    <!--section-->
    <section>
        <h4 class="section-title">Objetivo:</h4>
        <p class="section-subtitle">- Meu objetivo atual é conquistar uma oportunidade de emprego alinhada à minha área de estudo. Busco um ambiente onde eu possa aplicar meus conhecimentos teóricos na prática, desenvolver novas habilidades e atuar de forma profissional e responsável.</p>
    </section>
    <!--footer-->
    <footer class="footer">
        <a href="mailto:eduardobargueiras25@gmail.com" class="member-contact"><i class="fas fa-envelope"></i> E-mail</a>
        <a href="https://github.com/Eduardo-Bargueiras" target="_blank" class="member-contact"><i class="fab fa-github"></i> GitHub</a>
        <p>Eduardo Antônio de Oliveira Bargueiras - ETECVAV2026</p>
    </footer>
</body>
</html>