<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guilherme</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <a href="index.html" class="back-button"><i class="fas fa-arrow-left"></i> Voltar</a>
    <!--header-->
    <header class="header">
        <img src="../img/guilherme-icon.png" alt="foto guilherme" class="logo">
        <div class="header-text">
            <h1 class="header-title">Guilherme Lakonski</h1>
            <h4 class="header-subtitle">- [IDADE] Anos -</h4>
        </div>
    </header>
    <!--main-->
    <main>
        <h4 class="main-title">Sobre:</h4>
        <p class="main-content">- Estudante da instituição ETEC Vasco Antônio Venchiarutti e aluno do 1ºAno do Ensino Médio no curso de Desenvolvimento de Sistemas. Ficou responsável pela escolha da paleta de cores usada no site do grupo.</p>
    </main>
    <!--section-->
    <section>
        <h4 class="section-title">Objetivo:</h4>
        <p class="section-subtitle">- Meu objetivo é aprender e melhorar as minhas habilidades de programação.</p>
    </section>
    <!--footer-->
    <footer class="footer">
        <a href="mailto:guilherme.miguelrex1@gmail.com@gmail.com" class="member-contact"><i class="fas fa-envelope"></i> E-mail</a>
        <a href="https://github.com/LAKONSKI" target="_blank" class="member-contact"><i class="fab fa-github"></i> GitHub</a>
        <p>Guilherme Lakonski - ETECVAV2026</p>
    </footer>
</body>
</html>