<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nao-sabemos</title>
</head>
<body>
    <header>
    <div class="logo">
        <h1>nome do site que eu nao sei</h1>
    </div>

    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Filmes</a></li>
            <li><a href="#">Em Cartaz</a></li>
            <li><a href="#">Próximas Estreias</a></li>
            <li><a href="#">Sobre Nós</a></li>
        </ul>
    </nav>

    <div class="acoes">
        <a href="#">Entrar</a>
        <a href="#">Comprar Ingresso</a>
    </div>
    <div class="pesquisa">
        <input type="text" placeholder="Pesquisar filme">
        <button>Pesquisar</button>
    </div>
</header>
</body>
</html>
