<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--header-->
    <header>
        <div class="logo">
            <h1>nome do site que eu nao sei</h1>
        </div>

        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Filmes</a></li>
                <li><a href="#">Em Cartaz</a></li>
                <li><a href="#">Próximas Estreias</a></li>
                <li><a href="#">Sobre Nós</a></li>
            </ul>
        </nav>

        <div class="acoes">
            <a href="#">Entrar</a>
            <a href="#">Comprar Ingresso</a>
        </div>
        <div class="pesquisa">
            <input type="text" placeholder="Pesquisar filme">
            <button>Pesquisar</button>
        </div>
    </header>
    <!--section -->
    <section>
        <h2>Em cartaz:</h2>
        <div class="cards">
            <!--felipetar-->
            <div class="card">
                <div class="card-img">
                    <img src="../img/FELIPETAR.png" alt="felipetar">
                    <div class="card-title">
                        <h2>Felipetar <br>-special edition-</h2>
                        <div class="card-content">
                         <p>sobre:<br>#</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--carroçadores ultimato-->
            <div class="card">
                <div class="card-img">
                    <img src="../img/CARROÇADORES.png" alt="carroçadores-ultimato">
                    <div class="card-title">
                        <h2>Carroçadores <br>ULTIMATO</h2>
                        <div class="card-content">
                         <p>sobre:<br>#</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>
