<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>produtos</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!--header-->
    <header>
        <h1>Sucos-Premium🍊</h1>
    </header>
    <!--nav-->
    <nav>
        <a href="index.html">Home</a>
        <a href="sobre.html">Sobre</a>
    </nav>
    <!--section-->
    <section class="produtos">
        <div class="card">
            <h3>🍊 Sabor Laranja <br>(O Supremo)</h3>
            <p>Produzido por uma mistura das mais saborosas laranjas: Laranja-Pêra, Laranja Bahia, Laranja-Lima, Laranja Seleta, Laranja Valência, Laranja Natal. Feito por Profissionais.</p>
            <span class="preco">R$ 32,99</span>
        </div>
    
        <div class="card">
            <h3>🍓 Sabor Morango <br>(Docinho)</h3>
            <p>Feito com morangos que foram selecionados na nossa fazenda que possui mais de 10mil hectares. E os morangos são cuidadosamente lavados e cultivados de uma maneira eficiente.</p>
            <span class="preco">R$ 34,99</span>
        </div>
    
        <div class="card">
            <h3>🥭 Sabor Tropical <br>(Refrescante)</h3>
            <p>Mistura exclusiva de diversas frutas tropicais que foram coletadas na época mais propicia ao sabor perfeito, e é perfeito para relaxar num calor.</p>
            <span class="preco">R$ 28,99</span>
        </div>
    
        <div class="card">
            <h3>🍇 Sabor Uva <br>(Novidade)</h3>
            <p>Sabor feito especialmente com uvas que macacos cagaram após comer, isso faz o sabor ficar muito mais consistente e fica com muitas vitaminas em nossa bebida.</p>
            <span class="preco">R$ 102,99</span>
        </div>
    </section>
    <!--footer-->
    <footer>
        <p>© 2026 GHV Sucos-Premium🍊 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>