<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sobre</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <!--header-->
    <header>
        <h1>Sucos-Premium🍊</h1>
    </header>
    <!--nav-->
    <nav>
        <a href="index.html">Home</a>
        <a href="produtos.html">Produtos</a>
    </nav>
    <!--section-->
    <section>
        <p class="p">Nossos sucos foram criados pelos CEO's da empresa: <br><br>-Eduardo Antônio de Oliveira Bargueiras. <br><br>-Guilherme Miguel Rodrigues Pereira Lakonski. <br><br>O Projeto teve a sua ideia montada no 1°Ano quando estavam em uma aula de PW (Programação Web) e o professor José Madureira passou uma atividade para eles montarem um Site. <br><br>Conclusão: <br>A marca foi montada graças a um suco que ambos os estudantes haviam tomado na hora e que perceberam que aqueles sucos faziam muito mal. E por isso veio a ídeia de fazer um suco natural e totalmente gourmet.</p>
    </section>
    <!--footer-->
    <footer>
        <p>© 2026 GHV Sucos-Premium🍊 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>